// app global css in SCSS form
@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf),
  url(./fonts/Rubik/static/Rubik-Medium.ttf);

  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Rubik', sans-serif; /* Replace 'Roboto' with your desired font */
}